<h1>Rental Cars</h1>

<h3>Bem vindo ao sistema de gestão de locação</h3>

<p><%= link_to 'Fabricantes', manufacturers_path %></p>
<p><%= link_to 'Filiais', subsidiaries_path %></p>
<p><%= link_to 'Categoria de carros', car_categories_path %></p>