<h1>Categoria de Carros</h1>

<%= link_to 'Registrar nova categoria', new_car_category_path %>

<% if @car_categories.empty? %>
  <h3>Nenhuma categoria cadastrada</h3>
<% end %>

  <% @car_categories.each do |c| %>
    <dl>
      <dt>Categoria</dt>
        <dd><%= link_to "Categoria #{c.name}", c %></dd>
      <dt>Diária</dt>
        <dd><%= number_to_currency c.daily_rate %></dd>
    </dl>
  <% end %>

<p><%= link_to 'Voltar', root_path %></p>