<h1>Fabricantes</h1>

<% if @manufacturers.empty? %>
  <h3>Nenhum fabricante cadastrado</h3>
<% else %>

 <ul>
  <% @manufacturers.each do |manufacturer| %>
    <li><%= link_to manufacturer.name, manufacturer %></li>
  <% end %>
</ul> 
<% end %>

<p><%= link_to 'Registrar novo fabricante', new_manufacturer_path %></p>

<p><%= link_to 'Voltar', root_path %></p>