<% if @manufacturers.any? %>
  <ul>
    <% @manufacturers.each do |manufacturer| %>
      <li><%= link_to manufacturer.name, manufacturer %></li>
    <% end %>
  </ul>

<% else %>
  <h3>Nenhum fabricante cadastrado</h3>
<% end %>

<p><%= link_to 'Registrar novo fabricante', new_manufacturer_path %></p>

<p><%= link_to 'Voltar', root_path %></p>